# Package and package dependencies
-e .

# Development dependencies
flake8>=3.9,<3.10
coverage>=7.2,<7.4
setuptools>=42
wheel>=0.37
twine>=3.4

# Linters and formatters
pre-commit>=2.17.0,<2.18
isort>=5.10,<5.11
black>=22.6.0,<22.7

# TestApp dependencies
django>=3.2,<4
djangorestframework>=3.13,<4
python-magic>=0.4.18
rest-framework-generic-relations>=2.0.0
django-filter>=21.1,<22

# fix importlib version to avoid "AttributeError: 'EntryPoints' object has no attribute 'get'" with flake8
importlib-metadata<5.0
