# Package and package dependencies
-e .

# Development dependencies

# TestApp dependencies

django>=3.2,<4
djangorestframework>=3.13,<4
python-magic>=0.4.18
rest-framework-generic-relations>=2.0.0
django-userforeignkey>=0.4
django-filter>=21.1,<22
