name: Run linter and tests
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.7'
          - '3.8'
          - '3.9'
          - '3.10'
        django-version:
          - '3.2'
        djangorestframework-version:
          - '3.10'
          - '3.11'
          - '3.12'
        exclude:
          - django-version: '3.1'
            djangorestframework-version: '3.10'
          - django-version: '3.2'
            djangorestframework-version: '3.10'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies and package
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install django~=${{ matrix.django-version }}.0
          pip install djangorestframework~=${{ matrix.djangorestframework-version }}.0

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 './drf_attachments' --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 './drf_attachments' --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Run tests with coverage
        run: |
          # prepare Django project: link all necessary data from the test project into the root directory
          # Hint: Simply changing the directory does not work (leads to missing files in coverage report)
          ln -s ./tests/core core
          ln -s ./tests/testapp testapp
          ln -s ./tests/manage.py manage.py

          # run tests with coverage
          coverage run \
            --source='./drf_attachments' \
            manage.py test
          coverage xml

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
